* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1540%;
    margin: 0 auto;
}

header > .ire {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    padding: 2% 7%;
    background: var(--Ter, #F8FCFB);
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
}

header > .ire > nav a {
    color: var(--Mid-grey, #AFAFAF);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
}

header > .ire nav a:hover {
    transition: 0.25s;
    border-radius: 100px;
    background: var(--Pry, #005C4D);
    color: white;
}

header > .ire .contact {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 150%;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

button {
    padding: 12px 40px;
    color: var(--White, #FFF);
    font-family: 'Playfair Display';
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-radius: 100px;
    background: var(--Pry, #005C4D);
}

button:hover {
    border-radius: 100px;
    background-color: var(--White, #FFF);
    color: var(--Pry, #005C4D);
    transition: 0.25s;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon-close {
    display: none;
    cursor: pointer;
}

.nav2 {
    display: none;
}

section > .irene {
    background-image: url(hero2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    margin: 100px 0;
}

section > .irene h1 {
    justify-content: center;
    text-align: center;
    color: var(--grey, #FFF);
    font-family: 'Playfair Display';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 17% 0;
}

section > .duddy {
    width: 100%;
    margin: 7% 0;
}

section > .duddy h2 {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 32px;
}

section > .duddy .grey {
    width: 50%;
    margin: 0 27.5%;
}

section > .duddy .grey p {
    color: var(--Grey, #4B4B4B);
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 85%;
}

section > .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 90px 0;
    margin-bottom: 40px;
    background: var(--Light-grey, #FAFAFA);
}

section > .section1 .image {
    width: 40%;
}

section > .section1 .image img {
    width: 80%;
    margin-left: 20%;
}

section > .section1 > .icons div h5 {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

section > .section1 > .icons > p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

section > .section1 > .icons {
    width: 20%;
}
    
section > .section1 >.icons img {
    width: 30%;
}

section > .section1 > .icons > .locate, .mail, .device, .shop {
    display: flex;
    width: 100%;
    gap: 24px;
    margin-bottom: 40px;
}

.section2 {
    padding: 7%;
    width: 100%;
}

.section2 image {
    width: 100%;
}

.section2 > .gogo {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 3%;
}

.section2 > .gogo p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.map {
    width: 100%;
}

.map img {
    width: 100%;
}

footer {
    background-color: var(--Pry, #005C4D);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 40px 0;
    margin-top: 13%;
}

footer > .icons {
    gap: 60px;
}

footer > .icons svg {
    width: 40px;
    height: 36px;
    gap: 40px;
    border: 2px solid  #DCE9E2;
    border-radius: 100%;
    border-width: 300ms;
    background-color: var(--Sec, #DCE9E2);
    color: white;
    transition: transform 300ms;
    margin: 25px 15px;
}

footer > .icons svg:hover {
    border-radius: 100px;
    background-color: var(--White, #FFF);
    color: var(--White, #FFF);
    transition: 0.35s;
}

footer > .p {
    color: var(--Ter, #F8FCFB);
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

@media screen and (max-width: 1153px) {
    section > .irene {
        width: 100%;
        height: 80vh;
        margin: 100px 0;
    }
    
    section > .irene h1 {
        text-align: center;
        padding: 26% 0;
    }

    section > .section1 .image img {
        width: 90%;
    }
}

@media screen and (max-width: 981px) {
    nav {
        display: none;
    }

    .menu-icon{
        display: block;
        width: 100%;
    }

    .menu-icon.hide {
        display: none;
    }

    .menu-icon-close.hide{
        display: block;
        width: 100%;
    }

    header > .nav2.visible {
        display: flex;
        flex-direction: column;
        background: var(--Ter, #F8FCFB);
        gap: 72px;
        z-index: 7%;
        padding: 10%;
    }

    header > .nav2.visible a {
        color: var(--Mid-grey, #AFAFAF);
        font-family: 'Playfair Display';
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-decoration: none;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
    }
    
    header > .nav2.visible a:hover {
        transition: 0.25s;
        border-radius: 100px;
        background: var(--Pry, #005C4D);
        color: white;
    }
    
    header > .nav2 .home {
        color: var(--Pry, #005C4D);
        font-family: 'Playfair Display';
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 140%;
    }
    
    header > .nav2 button {
        padding: 12px 40px;
        color: var(--White, #FFF);
        font-family: 'Playfair Display';
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        border-radius: 100px;
        background: var(--Pry, #005C4D);
    }
    
    header > .nav2 button:hover {
        border-radius: 100px;
        background-color: var(--White, #FFF);
        color: var(--Pry, #005C4D);
        transition: 0.25s;
    }
}

@media screen and (max-width: 851px) {
    section > .irene h1 {
        text-align: center;
        padding: 35% 0;
    }

    section > .duddy .grey {
        width: 70%;
        margin: 0 auto;
    }

    section > .duddy .grey p {
        max-width: 100%;
    }

    section > .section1 {
        display: flex;
        flex-direction: column;
    }

    section > .section1 .image {
        width: 60%;
    }
    
    section > .section1 .image img {
        width: 100%;
        margin-left: 0;
    }

    section > .section1 > .icons {
        width: 90%;
        display: flex;
        margin-right: 0;
    }
        
    section > .section1 >.icons img {
        width: 50%;
        flex-direction: row;
    }
    
    section > .section1 > .icons > .locate, .mail, .device, .shop {
        flex-direction: column;
        gap: 24px;
        margin: 15% auto;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 730px) {
    section > .section1 >.icons {
        width: 100%;
        flex-wrap: wrap;
        margin: 6% 0 0 0;
        align-content: center;
        justify-content: center;
    }

    section > .section1 >.icons img {
        width: 30%;
        margin-right: 0;
        align-content: center;
        justify-content: center;
    }
    
    section > .section1 > .icons > .locate, .mail, .device, .shop {
        flex-basis: 50%;
        gap: 0;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
        margin: 5% 0;
        gap: 10px;
        align-items: center;
    }

    section > .section1 > .icons div h5 {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }
    
    section > .section1 > .icons > p {
        font-size: 2rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 689px) {
    section > .section1 > .icons {
        width: 80%;
        margin-right: 0;
    }

    section > .section1 >.icons img {
        width: 40%;
    }
}

@media screen and (max-width: 554px) {
    section > .irene {
        width: 100%;
        height: 80vh;
        margin: 80px 0;
    }

    section > .irene h1 {
        text-align: center;
        padding: 47% 0;
    }
}

@media screen and (max-width: 485px) {
    .section2 > .gogo p {
        font-size: 1.1rem;
        font-weight: 600;
    }

    section > .section1 > .icons {
        width: 100%;
        margin-right: 0;
    }

    section > .section1 >.icons img {
        width: 33%;
    }

    section > .section1 > .icons div h5 {
        font-size: 1.3rem;
        font-weight: 700;
    }
}

@media screen and (max-width: 419px) {
    section > .irene {
        width: 100%;
        height: 80vh;
        margin: 40px 0;
    }

    section > .irene h1 {
        text-align: center;
        padding: 67% 0;
        font-size: 45px;
    }
}

@media screen and (max-width: 376px) {
    section > .irene h1 {
        text-align: center;
        padding: 80% 0;
        font-size: 45px;
    }

    section > .section1 > .icons > .locate, .mail, .device, .shop {
        align-content: center;
        justify-content: center;
    }

    section > .section1 > .icons {
        width: 100%;
        margin-right: 0;
    }
}