* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1540%;
    margin: 0 auto;
}

header > .ire {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    padding: 2% 7%;
    background: var(--Ter, #F8FCFB);
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
}

header > .ire > nav a {
    color: var(--Mid-grey, #AFAFAF);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
}

header > .ire nav a:hover {
    transition: 0.25s;
    border-radius: 100px;
    background: var(--Pry, #005C4D);
    color: white;
}

header > .ire .contact {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 150%;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

button {
    padding: 12px 40px;
    color: var(--White, #FFF);
    font-family: 'Playfair Display';
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-radius: 100px;
    background: var(--Pry, #005C4D);
}

button:hover {
    border-radius: 100px;
    background-color: var(--White, #FFF);
    color: var(--Pry, #005C4D);
    transition: 0.25s;
}


/* .nav2 a {
    text-decoration: none;
    color: var(--Mid-grey, #AFAFAF);
    font-family: 'Playfair Display';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    gap: 54px;
    display: none;
} */

section > .irene {
    background-image: url(hero2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    margin: 100px 0;
}

section > .irene h1 {
    justify-content: center;
    text-align: center;
    color: var(--grey, #FFF);
    font-family: 'Playfair Display';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 17% 0;
}

section > .duddy {
    width: 100%;
    margin: 7% 0;
}

section > .duddy h2 {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 32px;
}

section > .duddy .grey {
    width: 50%;
    margin: 0 27.5%;
}

section > .duddy .grey p {
    color: var(--Grey, #4B4B4B);
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 85%;
}

section > .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 90px 0;
    margin-bottom: 40px;
    background: var(--Light-grey, #FAFAFA);
}

section > .section1 .image7 {
    width: 45%;
}

section > .section1 .image7 img {
    width: 100%;
    margin-left: 20%;
}

section > .icons {
    width: 20%;
}

.icons > div h5 {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.icons > p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.icons > .locate, .mail, .device, .shop {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.section2 {
    padding: 7%;
    width: 100%;
}

.section2 image {
    width: 100%;
}

.section2 > .gogo {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 3%;
}

.section2 > .gogo p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

footer {
    background-color: var(--Pry, #005C4D);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 40px 0;
    margin-top: 13%;
}

/* footer > .icons {
    padding-left: 80px;
} */

footer > .icons svg {
    width: 40px;
    height: 36px;
    gap: 40px;
    border: 2px solid #DCE9E2;
    border-radius: 90%;
    border-width: 300ms;
    background-color: var(--Sec, #DCE9E2);
    color: white;
    transition: transform 300ms;
    margin: 25px 15px;
}

footer > .icons svg:hover {
    border-radius: 100px;
    background-color: var(--White, #FFF);
    color: var(--White, #FFF);
    transition: 0.35s;
}

footer > .p {
    color: var(--Ter, #F8FCFB);
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}