@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
}

header > .iren {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    padding: 2% 7%;
    background: var(--Ter, #F8FCFB);
    position: fixed;
    z-index: 4;
    width: 100%;
}

header > .iren > .logo {
    width: 18%;
}

header > .iren > .logo img {
    width: 100%;
}

header > .iren > nav a {
    color: var(--Mid-grey, #AFAFAF);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
}

header > .iren > nav a:hover {
    transition: 0.25s;
    border-radius: 100px;
    background: var(--Pry, #005C4D);
    color: white;
}

header > .iren .services {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 150%;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

header > .iren button {
    padding: 0.75rem 1.875rem;
    font-style: normal;
    font-size: 150%;
    border-radius: 100px;
    background: var(--Pry, #005C4D);
    color: white;
}

header > .iren button:hover {
    border-radius: 100px;
    background-color: var(--White, #FFF);
    color: var(--Pry, #005C4D);
    transition: 0.25s;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon-close {
    display: none;
    cursor: pointer;
}

.nav2 {
    display: none;
}

.section1 {
    background-image: url(Hero.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 115vh;
}

.section1 h1 {
    justify-content: center;
    text-align: center;
    padding: 25% 0;
    color: var(--White, #FFF);
    font-family: 'Playfair Display';
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main {
    width: 100%;
    margin: 7% 0;
}

.main h2 {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 32px;
}

.main > .oops {
    width: 50%;
    margin: 0 27.5%;
}

.main > .oops p {
    color: var(--Grey, #4B4B4B);
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 1.68rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 90%;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 40px 0;
    margin-bottom: 40px;
}

.section2 > .image1 {
    width: 40%;
}

.section2 > .image1 img {
    width: 80%;
    margin-left: 20%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-left-radius: 35%;
}

.medical {
    width: 40%;
    justify-content: center;
    align-content: center;
}

.medical h5 {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.medical p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 90%;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-bottom: 40px;
    background: var(--Light-grey, #FAFAFA);
}

.section3 > .image2 {
    width: 40%;
    margin-right: 8%;
}

.section3 > .image2 img {
    width: 80%;
    margin-left: 20%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;
}

.section3 > .health {
    width: 40%;
    margin-left: 15%;
    /* padding-left: 16%; */
    justify-content: center;
    align-content: center;
}

.section3 > .health h5{
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.section3 > .health p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 84%;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 40px 0;
    margin-bottom: 40px;
}

.section4 > .image3 {
    width: 40%;
}

.section4 > .image3 img {
    width: 80%;
    margin-left: 20%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-left-radius: 35%;
}

.section4 > .mach {
    width: 40%;
    /* padding-left: 26%; */
    justify-content: center;
    align-content: center;
}

.section4 > .mach h5{
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.section4 > .mach p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 85%;
}

.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px 0;
    margin-bottom: 40px;
    background: var(--Light-grey, #FAFAFA);
}

.section5 > .image4 {
    width: 40%;
    margin-right: 8%;
}

.section5 > .image4 img {
    width: 80%;
    margin-left: 20%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;
}

.section5 > .tele {
    width: 40%;
    margin-left: 15%;
    justify-content: center;
    align-content: center;
}

.section5 > .tele h5{
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.section5 > .tele p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 85%;
}

.section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 40px 0;
    margin-bottom: 40px;
}

.section6 > .image5 {
    width: 40%;
}

.section6 > .image5 img {
    width: 80%;
    margin-left: 20%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-left-radius: 35%;
}

.section6 > .manage {
    width: 40%;
    /* padding-left: 26%; */
    justify-content: center;
    align-content: center;
}

.section6 > .manage h5{
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.section6 > .manage p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 85%;
}

.section7 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px 0;
    margin-bottom: 40px;
    background: var(--Light-grey, #FAFAFA);
}

.section7 > .image6 {
    width: 40%;
    margin-right: 8%;
}

.section7 > .image6 img {
    width: 80%;
    margin-left: 20%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;
}

.section7 > .info {
    width: 40%;
    margin-left: 15%;
    justify-content: center;
    align-content: center;
}

.section7 > .info h5{
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.section7 > .info p {
    color: var(--Grey, #4B4B4B);
    font-family: 'Playfair Display';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    max-width: 85%;
}

footer {
    width: 100%;
    background-color: var(--Pry, #005C4D);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 40px 0;
    margin-top: 13%;
}

footer > .logo2 {
    width: 100%;
    text-align: center;
}

footer > .logo2 img {
    width: 15%;
}

footer > .icons svg {
    width: 40px;
    height: 36px;
    gap: 40px;
    border: 2px solid #DCE9E2;
    border-radius: 90%;
    border-width: 300ms;
    background-color: var(--Sec, #DCE9E2);
    color: white;
    transition: transform 300ms;
    margin: 25px 15px;
}

footer > .icons {
    width: 100%;
    text-align: center;
}

footer > .icons svg:hover {
    border-radius: 100px;
    background-color: var(--White, #FFF);
    color: var(--White, #FFF);
    transition: 0.35s;
}

footer > .p {
    color: var(--Ter, #F8FCFB);
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

@media screen and (min-width: 320px) and (max-width: 480px) { 
    header > .iren > .left {
        width: 35%;
    }

    header > .iren > .left img {
        width: 100%;
    }

    nav {
        display: none;
    }

    .menu-icon{
        display: block;
        width: 100%;
    }

    .menu-icon.hide {
        display: none;
    }

    .menu-icon-close.hide{
        display: block;
        width: 100%;
    }

    header {
        width: 100%;
    }

    header > .nav2.visible {
        display: flex;
        flex-direction: column;
        background: var(--Ter, #F8FCFB);
        gap: 72px;
        z-index: 7%;
        padding: 10%;
        position: fixed;
        width: 100%;
    }

    header > .nav2.visible a {
        color: var(--Mid-grey, #AFAFAF);
        font-family: 'Playfair Display';
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-decoration: none;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
    }
    
    header > .nav2.visible a:hover {
        transition: 0.25s;
        border-radius: 100px;
        background: var(--Pry, #005C4D);
        color: white;
    }
    
    header > .nav2 .home {
        color: var(--Pry, #005C4D);
        font-family: 'Playfair Display';
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 140%;
    }
    
    header > .nav2 button {
        padding: 12px 40px;
        color: var(--White, #FFF);
        font-family: 'Playfair Display';
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        border-radius: 100px;
        background: var(--Pry, #005C4D);
    }
    
    header > .nav2 button:hover {
        border-radius: 100px;
        background-color: var(--White, #FFF);
        color: var(--Pry, #005C4D);
        transition: 0.25s;
    }

    .section1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
        background-position: center;
    }
    
    .section1 h1 {
        text-align: center;
        font-size: 4rem;
    }
    
    .main {
        width: 100%;
        margin: 7% auto;
    }
    
    .main h2 {
        font-size: 2rem;
    }
    
    .main > .oops {
        width: 100%;
        margin: 0 auto;
    }
    
    .main > .oops p {
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
        padding: 0 2%;
    }
    
    .section2 {
        display: flex;
        flex-direction: column;
        gap: 10%;
        padding: 40px 0;
        margin-bottom: 40px;
        width: 100%;
    }
    
    .section2 > .image1 {
        width: 100%;
        text-align: center;
    }
    
    .section2 > .image1 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section2 > .medical {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    
    .section2 > .medical h5 {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2%;
    }
    
    .section2 > .medical p {
        font-size: 1rem;
        max-width: 100%;
    }
    
    .section3 {
        display: flex;
        flex-direction: column-reverse;
        padding: 10% 0;
        margin-bottom: 40px;
        width: 100%;
    }
    
    .section3 > .image2 {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    
    .section3 > .image2 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section3 > .health {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    
    .section3 > .health h5{
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2%;
    }
    
    .section3 > .health p {
        font-size: 1rem;
        max-width: 95%;
    }
    
    .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10%;
        padding: 40px 0;
        margin-bottom: 40px;
    }
    
    .section4 > .image3 {
        width: 100%;
        text-align: center;
    }
    
    .section4 > .image3 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section4 > .mach {
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    
    .section4 > .mach h5{
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2%;
    }
    
    .section4 > .mach p {
        text-align: center;
        font-size: 1rem;
        max-width: 95%;
    }
    
    .section5 {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 40px 0;
    }
    
    .section5 > .image4 {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    
    .section5 > .image4 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section5 > .tele {
        width: 100%;
        margin-left: 0;
    }
    
    .section5 > .tele h5{
        text-align: center;
        font-size: 1.5rem;
    }
    
    .section5 > .tele p {
        text-align: center;
        font-size: 1rem;
        max-width: 95%;
    }
    
    .section6 {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        margin-bottom: 40px;
    }
    
    .section6 > .image5 {
        width: 100%;
        text-align: center;
    }
    
    .section6 > .image5 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section6 > .manage {
        width: 100%;
    }
    
    .section6 > .manage h5{
        text-align: center;
        font-size: 1.5rem;
        padding-top: 2%;
    }
    
    .section6 > .manage p {
        text-align: center;
        font-size: 1rem;
        max-width: 95%;
    }
    
    .section7 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .section7 > .image6 {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    
    .section7 > .image6 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section7 > .info {
        width: 100%;
        margin-left: 0;
    }
    
    .section7 > .info h5{
        text-align: center;
        padding-top: 2%;
        font-size: 1.5rem;
    }
    
    .section7 > .info p {
        font-size: 1rem;
        max-width: 95%;
        text-align: center;
    }
    
    footer {
        padding: 40px 0;
        margin-top: 13%;
        width: 100%;
    }

    footer > .logo2 {
        width: 100%;
        text-align: center;
    }
    
    footer > .logo2 img {
        width: 70%;
    }
    
    footer > .icons svg {
        transition: transform 300ms;
    }

    footer > .icons {
        width: 100%;
        text-align: center;
    }
    
    footer > .icons svg:hover {
        border-radius: 100px;
        background-color: var(--White, #FFF);
        color: var(--White, #FFF);
        transition: 0.35s;
    }
    
    footer > .p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 0;
    }
    
    header > .iren > .logo {
        width: 35%;
    }

    header > .iren > .logo img {
        width: 100%;
    }

    header > .iren > div {
        width: 7%;
    }

    nav {
        display: none;
    }

    .menu-icon{
        display: block;
        width: 100%;
    }

    .menu-icon.hide {
        display: none;
    }

    .menu-icon-close.hide{
        display: block;
        width: 100%;
    }

    header > .nav2.visible {
        display: flex;
        flex-direction: column;
        background: var(--Ter, #F8FCFB);
        gap: 72px;
        z-index: 7%;
        padding: 10%;
        position: fixed;
        width: 100%;
        /* position: absolute; */
    }

    header > .nav2.visible a {
        color: var(--Mid-grey, #AFAFAF);
        font-family: 'Playfair Display';
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-decoration: none;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
    }
    
    header > .nav2.visible a:hover {
        transition: 0.25s;
        border-radius: 100px;
        background: var(--Pry, #005C4D);
        color: white;
    }
    
    header > .nav2 .home {
        color: var(--Pry, #005C4D);
        font-family: 'Playfair Display';
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 140%;
    }
    
    header > .nav2 button {
        padding: 12px 40px;
        color: var(--White, #FFF);
        font-family: 'Playfair Display';
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        border-radius: 100px;
        background: var(--Pry, #005C4D);
    }
    
    header > .nav2 button:hover {
        border-radius: 100px;
        background-color: var(--White, #FFF);
        color: var(--Pry, #005C4D);
        transition: 0.25s;
    }

    .section1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
        background-position: center;
        height: 80vh;
    }
    
    .section1 h1 {
        text-align: center;
        font-size: 4rem;
    }
    
    .main {
        width: 100%;
        margin: 7% auto;
    }
    
    .main h2 {
        font-size: 3rem;
    }
    
    .main > .oops {
        width: 100%;
        margin: 0 auto;
    }
    
    .main > .oops p {
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        padding: 0 2%;
    }
    
    .section2 {
        display: flex;
        flex-direction: column;
        gap: 10%;
        padding: 40px 0;
        margin-bottom: 40px;
        width: 100%;
    }
    
    .section2 > .image1 {
        width: 100%;
        text-align: center;
    }
    
    .section2 > .image1 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section2 > .medical {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    
    .section2 > .medical h5 {
        font-size: 2rem;
        text-align: center;
        padding-top: 2%;
    }
    
    .section2 > .medical p {
        font-size: 1.5rem;
        max-width: 100%;
    }
    
    .section3 {
        display: flex;
        flex-direction: column-reverse;
        padding: 10% 0;
        margin-bottom: 40px;
        width: 100%;
    }
    
    .section3 > .image2 {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    
    .section3 > .image2 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section3 > .health {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    
    .section3 > .health h5{
        font-size: 2rem;
        text-align: center;
        padding-top: 2%;
    }
    
    .section3 > .health p {
        font-size: 1.5rem;
        max-width: 95%;
    }
    
    .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10%;
        padding: 40px 0;
        margin-bottom: 40px;
    }
    
    .section4 > .image3 {
        width: 100%;
        text-align: center;
    }
    
    .section4 > .image3 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section4 > .mach {
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    
    .section4 > .mach h5{
        text-align: center;
        font-size: 2rem;
        padding-top: 2%;
    }
    
    .section4 > .mach p {
        text-align: center;
        font-size: 1.5rem;
        max-width: 95%;
    }
    
    .section5 {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 40px 0;
    }
    
    .section5 > .image4 {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    
    .section5 > .image4 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section5 > .tele {
        width: 100%;
        margin-left: 0;
    }
    
    .section5 > .tele h5{
        text-align: center;
        font-size: 2rem;
    }
    
    .section5 > .tele p {
        text-align: center;
        font-size: 1.5rem;
        max-width: 95%;
    }
    
    .section6 {
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        margin-bottom: 40px;
    }
    
    .section6 > .image5 {
        width: 100%;
        text-align: center;
    }
    
    .section6 > .image5 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section6 > .manage {
        width: 100%;
    }
    
    .section6 > .manage h5{
        text-align: center;
        font-size: 2rem;
        padding-top: 2%;
    }
    
    .section6 > .manage p {
        text-align: center;
        font-size: 1.5rem;
        max-width: 95%;
    }
    
    .section7 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    
    .section7 > .image6 {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    
    .section7 > .image6 img {
        width: 85%;
        margin-left: 0;
    }
    
    .section7 > .info {
        width: 100%;
        margin-left: 0;
    }
    
    .section7 > .info h5{
        text-align: center;
        padding-top: 2%;
        font-size: 2rem;
    }
    
    .section7 > .info p {
        font-size: 1.5rem;
        max-width: 95%;
        text-align: center;
    }
    
    footer {
        padding: 40px 0;
        margin-top: 13%;
        width: 100%;
    }

    footer > .logo2 {
        width: 100%;
        text-align: center;
    }
    
    footer > .logo2 img {
        width: 60%;
    }
    
    footer > .icons svg {
        transition: transform 300ms;
        width: 10%;
        height: 10%;
    }

    footer > .icons {
        width: 100%;
        text-align: center;
    }
    
    footer > .icons svg:hover {
        border-radius: 100px;
        background-color: var(--White, #FFF);
        color: var(--White, #FFF);
        transition: 0.35s;
    }
    
    footer > .p {
        font-size: 2rem;
    }
}